In [15]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/MyDrive/SPAM/UCIspamDataset/'
dataset_path = path+'sms_spam_perceptron.csv'

In [3]:
data_frame = pd.read_csv(dataset_path)

In [4]:
data_frame.head()

   type  sex  buy
0   ham    0    1
1   ham    0    1
2   ham    1    1
3  spam    1    0
4   ham    0    1

In [5]:
data_frame.tail()

    type  sex  buy
94   ham    0    1
95   ham    0    1
96   ham    0    1
97  spam    1    0
98   ham    0    1

In [6]:
x_data = data_frame.iloc[:,[1,2]].values

In [ ]:
x_data

In [8]:
y_data = data_frame.iloc[:,0].values
y_data = np.where(y_data == 'spam', -1, 1)

In [9]:
y_data

array([ 1,  1,  1, -1,  1, -1,  1,  1, -1,  1,  1,  1,  1,  1, -1,  1,  1,
        1, -1,  1, -1,  1, -1,  1, -1,  1, -1,  1, -1,  1,  1,  1,  1,  1,
       -1,  1,  1,  1, -1,  1,  1,  1,  1,  1, -1,  1,  1, -1, -1, -1,  1,
        1,  1,  1,  1,  1,  1, -1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,
       -1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1, -1,  1, -1,
        1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1])

In [10]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.4)

In [11]:
model = Perceptron(max_iter=45, eta0=0.1)
model.fit(X_train, y_train)
model_pred = model.predict(X_test)

In [12]:
print('Misclassified Samples: ', (y_test!=model_pred).sum())

Misclassified Samples:  6

In [13]:
print(f'Accuracy of samples: {accuracy_score(y_test, model_pred)*100}')

Accuracy of samples: 85.0

In [14]:
y = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

End of project